pre > code {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-family: Courier New, Courier, monospace;
  border: none;
  margin: 0;
  cursor: text;
  overflow-x: auto;
  line-height: 1.7em;
  font-size: 15px;
}

code {
  font-size: 15px;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  background-color: _palette(bg-accent);
  padding: 0 10px;
}

figure.highlight,
.codeblock {
  margin: 35px 0 50px 0;
  line-height: 1.3em;
  overflow: auto;
}
figure.highlight table,
.codeblock table {
  display: block;
  width: 100%;
  margin: 0;
}

figure.highlight table tr {
  border: 0;
}

figure.highlight pre,
figure.highlight .gutter,
figure.highlight .code,
figure.highlight .tag,
.codeblock pre,
.codeblock .gutter,
.codeblock .code,
.codeblock .tag {
  font-family: Courier New, Courier, monospace;
  border: none;
  padding: 0;
  margin: 0;
  cursor: text;
}
figure.highlight .gutter,
figure.highlight .code,
.codeblock .gutter,
.codeblock .code {
  vertical-align: top;
}
figure.highlight.plain .gutter,
.codeblock.plain .gutter {
  display: none;
}
figure.highlight figcaption,
.codeblock figcaption {
  font-size: 15px;
  padding: 0 15px 20px;
  margin: 0;
}
figure.highlight figcaption a,
.codeblock figcaption a {
  float: right;
}
figure.highlight .gutter,
.codeblock .gutter {
  border-right: 1px solid;
  padding: 0.3em 15px;
}
figure.highlight .code,
.codeblock .code {
  padding: 0.3em 15px 0.3em 1em;
  width: 100%;
}
figure.highlight .code pre,
.codeblock .code pre {
  max-width: calc(750px - 50px);
  overflow-x: auto;
  overflow-y: hidden;
}
figure.highlight .line,
.codeblock .line {
  height: 1.3em;
  font-size: 15px;
}

.codeblock--tabbed figure.highlight,
.codeblock--tabbed pre > code {
  margin-bottom: 0;
  padding-bottom: 0;
}
.codeblock--tabbed figcaption a, .codeblock--tabbed figcaption span {
  float: left !important;
}
.codeblock--tabbed figcaption .tabs {
  float: right;
}
.codeblock--tabbed figcaption .tabs .tab {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 0 7px;
}
.codeblock--tabbed figcaption .tabs .tab:last-child {
  margin-right: 0;
}

.gist .line,
.gist .line-number {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  margin: 0 0 5px 0;
}

pre > code {
  background: _palette(bg-accent);
  color: _palette(code);
}

code {
  background-color: _palette(bg-accent);
}

.codeblock--tabbed figcaption .tab.active {
  background: #349ef3;
  color: white;
}

figure.highlight, .codeblock {
  color: _palette(code);
}

figure.highlight figcaption, .codeblock figcaption {
  background: _palette(bg-accent);
  color: #999999;
}

figure.highlight .gutter, .codeblock .gutter {
  border-right-color: #e6e6e6;
}

figure.highlight .gutter .line, .codeblock .gutter .line {
  color: #aaaaaa;
}

figure.highlight .comment, .codeblock .comment {
  color: #969896;
}

figure.highlight .string, .codeblock .string {
  color: #FBB03B;
}

figure.highlight .keyword, .codeblock .keyword {
  color: #ED1C24;
}

figure.highlight.apacheconf .code {
  .common, .nomarkup, .attribute, .variable, .cbracket, .keyword {
    color: #29ABE2;
  }
}

.codeblock.apacheconf .code {
  .common, .nomarkup, .attribute, .variable, .cbracket, .keyword {
    color: #29ABE2;
  }
}

figure.highlight.apacheconf .code .sqbracket, .codeblock.apacheconf .code .sqbracket {
  color: #df5000;
}

figure.highlight.apacheconf .code {
  .section, .tag {
    color: #63a35c;
  }
}

.codeblock.apacheconf .code {
  .section, .tag {
    color: #63a35c;
  }
}

figure.highlight.bash .code .shebang, .codeblock.bash .code .shebang {
  color: #969896;
}

figure.highlight.bash .code {
  .literal, .built_in {
    color: #29ABE2;
  }
}

.codeblock.bash .code {
  .literal, .built_in {
    color: #29ABE2;
  }
}

figure.highlight.bash .code .variable, .codeblock.bash .code .variable {
  color: _palette(code);
}

figure.highlight.bash .code .title, .codeblock.bash .code .title, figure.highlight.coffeescript .code .title, .codeblock.coffeescript .code .title {
  color: #9c7bce;
}

figure.highlight.coffeescript .code {
  .literal, .built_in, .number {
    color: #29ABE2;
  }
}

.codeblock.coffeescript .code {
  .literal, .built_in, .number {
    color: #29ABE2;
  }
}

figure.highlight.coffeescript .code {
  .reserved, .attribute {
    color: #1d3e81;
  }
}

.codeblock.coffeescript .code {
  .reserved, .attribute {
    color: #1d3e81;
  }
}

figure.highlight.coffeescript .code {
  .subst, .regexp, .attribute {
    color: #df5000;
  }
}

.codeblock.coffeescript .code {
  .subst, .regexp, .attribute {
    color: #df5000;
  }
}

figure.highlight {
  &.cpp .code .preprocessor, &.c .code .preprocessor {
    color: #df5000;
  }
}

.codeblock {
  &.cpp .code .preprocessor, &.c .code .preprocessor {
    color: #df5000;
  }
}

figure.highlight {
  &.cpp .code .meta-keyword, &.c .code .meta-keyword {
    color: #ED1C24;
  }
}

.codeblock {
  &.cpp .code .meta-keyword, &.c .code .meta-keyword {
    color: #ED1C24;
  }
}

figure.highlight {
  &.cpp .code .title, &.c .code .title {
    color: #9c7bce;
  }
}

.codeblock {
  &.cpp .code .title, &.c .code .title {
    color: #9c7bce;
  }
}

figure.highlight {
  &.cpp .code {
    .number, .built_in {
      color: #29ABE2;
    }
  }
  &.c .code {
    .number, .built_in {
      color: #29ABE2;
    }
  }
}

.codeblock {
  &.cpp .code {
    .number, .built_in {
      color: #29ABE2;
    }
  }
  &.c .code {
    .number, .built_in {
      color: #29ABE2;
    }
  }
}

figure.highlight.cs .code .preprocessor, .codeblock.cs .code .preprocessor {
  color: _palette(code);
  .keyword {
    color: _palette(code);
  }
}

figure.highlight.cs .code .title, .codeblock.cs .code .title {
  color: #9c7bce;
}

figure.highlight.cs .code {
  .number, .built_in {
    color: #29ABE2;
  }
}

.codeblock.cs .code {
  .number, .built_in {
    color: #29ABE2;
  }
}

figure.highlight.cs .code {
  .xmlDocTag, .doctag {
    color: #63a35c;
  }
}

.codeblock.cs .code {
  .xmlDocTag, .doctag {
    color: #63a35c;
  }
}

figure.highlight.css .code {
  .at_rule, .important, .meta {
    color: #ED1C24;
  }
}

.codeblock.css .code {
  .at_rule, .important, .meta {
    color: #ED1C24;
  }
}

figure.highlight.css .code {
  .attribute, .hexcolor, .number, .function {
    color: #29ABE2;
  }
}

.codeblock.css .code {
  .attribute, .hexcolor, .number, .function {
    color: #29ABE2;
  }
}

figure.highlight.css .code {
  .attr_selector, .value {
    color: _palette(code);
  }
}

.codeblock.css .code {
  .attr_selector, .value {
    color: _palette(code);
  }
}

figure.highlight.css .code {
  .id, .class, .pseudo, .selector-pseudo {
    color: #9c7bce;
  }
}

.codeblock.css .code {
  .id, .class, .pseudo, .selector-pseudo {
    color: #9c7bce;
  }
}

figure.highlight.css .code {
  .tag, .selector-tag {
    color: #63a35c;
  }
}

.codeblock.css .code {
  .tag, .selector-tag {
    color: #63a35c;
  }
}

figure.highlight.diff .code {
  .chunk, .meta {
    color: #9c7bce;
    font-weight: bold;
  }
}

.codeblock.diff .code {
  .chunk, .meta {
    color: #9c7bce;
    font-weight: bold;
  }
}

figure.highlight.diff .code .addition, .codeblock.diff .code .addition {
  color: #55a532;
  background-color: #eaffea;
}

figure.highlight.diff .code .deletion, .codeblock.diff .code .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

figure.highlight.http .code {
  .attribute, .attr {
    color: #FBB03B;
  }
}

.codeblock.http .code {
  .attribute, .attr {
    color: #FBB03B;
  }
}

figure.highlight.http .code .literal, .codeblock.http .code .literal {
  color: #29ABE2;
}

figure.highlight.http .code .request, .codeblock.http .code .request {
  color: #ED1C24;
}

figure.highlight.ini .code {
  .title, .section {
    color: #9c7bce;
  }
}

.codeblock.ini .code {
  .title, .section {
    color: #9c7bce;
  }
}

figure.highlight.ini .code {
  .setting, .attr {
    color: #ED1C24;
  }
}

.codeblock.ini .code {
  .setting, .attr {
    color: #ED1C24;
  }
}

figure.highlight.ini .code {
  .value, .keyword {
    color: _palette(code);
  }
}

.codeblock.ini .code {
  .value, .keyword {
    color: _palette(code);
  }
}

figure.highlight.java .code .title, .codeblock.java .code .title {
  color: #9c7bce;
}

figure.highlight.java .code .javadoc, .codeblock.java .code .javadoc {
  color: #969896;
}

figure.highlight.java .code {
  .meta, .annotation, .javadoctag {
    color: #ED1C24;
  }
}

.codeblock.java .code {
  .meta, .annotation, .javadoctag {
    color: #ED1C24;
  }
}

figure.highlight.java .code .number, .codeblock.java .code .number {
  color: #29ABE2;
}

figure.highlight.java .code .params, .codeblock.java .code .params {
  color: #1d3e81;
}

figure.highlight.js .code {
  .built_in, .title {
    color: #9c7bce;
  }
}

.codeblock.js .code {
  .built_in, .title {
    color: #9c7bce;
  }
}

figure.highlight.js .code .javadoc, .codeblock.js .code .javadoc {
  color: #969896;
}

figure.highlight.js .code {
  .tag, .javadoctag {
    color: #ED1C24;
  }
}

.codeblock.js .code {
  .tag, .javadoctag {
    color: #ED1C24;
  }
}

figure.highlight.js .code .tag .title, .codeblock.js .code .tag .title {
  color: _palette(code);
}

figure.highlight.js .code .regexp, .codeblock.js .code .regexp {
  color: #df5000;
}

figure.highlight.js .code {
  .literal, .number {
    color: #29ABE2;
  }
}

.codeblock.js .code {
  .literal, .number {
    color: #29ABE2;
  }
}

figure.highlight.json .code .attribute, .codeblock.json .code .attribute {
  color: #FBB03B;
}

figure.highlight.json .code {
  .number, .literal {
    color: #29ABE2;
  }
}

.codeblock.json .code {
  .number, .literal {
    color: #29ABE2;
  }
}

figure.highlight.mak .code .constant, .codeblock.mak .code .constant {
  color: _palette(code);
}

figure.highlight.mak .code .title, .codeblock.mak .code .title {
  color: #9c7bce;
}

figure.highlight.mak .code {
  .keyword, .meta-keyword {
    color: #29ABE2;
  }
}

.codeblock.mak .code {
  .keyword, .meta-keyword {
    color: #29ABE2;
  }
}

figure.highlight.md .code {
  .value, .link_label, .strong, .emphasis, .blockquote, .quote, .section {
    color: #FBB03B;
  }
}

.codeblock.md .code {
  .value, .link_label, .strong, .emphasis, .blockquote, .quote, .section {
    color: #FBB03B;
  }
}

figure.highlight.md .code {
  .link_reference, .symbol, .code {
    color: #29ABE2;
  }
}

.codeblock.md .code {
  .link_reference, .symbol, .code {
    color: #29ABE2;
  }
}

figure.highlight.md .code {
  .link_url, .link {
    text-decoration: underline;
  }
}

.codeblock.md .code {
  .link_url, .link {
    text-decoration: underline;
  }
}

figure.highlight.nginx .code {
  .title, .attribute {
    color: #ED1C24;
  }
}

.codeblock.nginx .code {
  .title, .attribute {
    color: #ED1C24;
  }
}

figure.highlight.nginx .code {
  .built_in, .literal {
    color: #29ABE2;
  }
}

.codeblock.nginx .code {
  .built_in, .literal {
    color: #29ABE2;
  }
}

figure.highlight.nginx .code .regexp, .codeblock.nginx .code .regexp {
  color: #FBB03B;
}

figure.highlight.nginx .code .variable, .codeblock.nginx .code .variable {
  color: _palette(code);
}

figure.highlight.objectivec .code {
  .preprocessor, .meta {
    color: #ED1C24;
  }
}

.codeblock.objectivec .code {
  .preprocessor, .meta {
    color: #ED1C24;
  }
}

figure.highlight.objectivec .code {
  .preprocessor .title, .meta .title {
    color: #df5000;
  }
}

.codeblock.objectivec .code {
  .preprocessor .title, .meta .title {
    color: #df5000;
  }
}

figure.highlight.objectivec .code .meta-string, .codeblock.objectivec .code .meta-string {
  color: #FBB03B;
}

figure.highlight.objectivec .code .title, .codeblock.objectivec .code .title {
  color: #9c7bce;
}

figure.highlight.objectivec .code {
  .literal, .number, .built_in {
    color: #29ABE2;
  }
}

.codeblock.objectivec .code {
  .literal, .number, .built_in {
    color: #29ABE2;
  }
}

figure.highlight.perl .code .sub, .codeblock.perl .code .sub, figure.highlight.perl .code .title, .codeblock.perl .code .title {
  color: #9c7bce;
}

figure.highlight.perl .code .regexp, .codeblock.perl .code .regexp {
  color: #df5000;
}

figure.highlight.php .code {
  .phpdoc, .doctag {
    color: #ED1C24;
  }
}

.codeblock.php .code {
  .phpdoc, .doctag {
    color: #ED1C24;
  }
}

figure.highlight.php .code .regexp, .codeblock.php .code .regexp {
  color: #df5000;
}

figure.highlight.php .code {
  .literal, .number {
    color: #29ABE2;
  }
}

.codeblock.php .code {
  .literal, .number {
    color: #29ABE2;
  }
}

figure.highlight.php .code .title, .codeblock.php .code .title {
  color: #9c7bce;
}

figure.highlight.python .code {
  .decorator, .title, .meta {
    color: #9c7bce;
  }
}

.codeblock.python .code {
  .decorator, .title, .meta {
    color: #9c7bce;
  }
}

figure.highlight.python .code .number, .codeblock.python .code .number {
  color: #29ABE2;
}

figure.highlight.ruby .code {
  .parent, .title {
    color: #9c7bce;
  }
}

.codeblock.ruby .code {
  .parent, .title {
    color: #9c7bce;
  }
}

figure.highlight.ruby .code {
  .prompt, .constant, .number, .subst .keyword, .symbol {
    color: #29ABE2;
  }
}

.codeblock.ruby .code {
  .prompt, .constant, .number, .subst .keyword, .symbol {
    color: #29ABE2;
  }
}

figure.highlight.sql .built_in, .codeblock.sql .built_in {
  color: #ED1C24;
}

figure.highlight.sql .number, .codeblock.sql .number {
  color: #29ABE2;
}

figure.highlight {
  &.xml .tag, &.html .tag {
    color: _palette(code);
  }
}

.codeblock {
  &.xml .tag, &.html .tag {
    color: _palette(code);
  }
}

figure.highlight {
  &.xml .value, &.html .value {
    color: #FBB03B;
  }
}

.codeblock {
  &.xml .value, &.html .value {
    color: #FBB03B;
  }
}

figure.highlight {
  &.xml {
    .attribute, .attr {
      color: #9c7bce;
    }
  }
  &.html {
    .attribute, .attr {
      color: #9c7bce;
    }
  }
}

.codeblock {
  &.xml {
    .attribute, .attr {
      color: #9c7bce;
    }
  }
  &.html {
    .attribute, .attr {
      color: #9c7bce;
    }
  }
}

figure.highlight {
  &.xml {
    .title, .name {
      color: #63a35c;
    }
  }
  &.html {
    .title, .name {
      color: #63a35c;
    }
  }
}

.codeblock {
  &.xml {
    .title, .name {
      color: #63a35c;
    }
  }
  &.html {
    .title, .name {
      color: #63a35c;
    }
  }
}

figure.highlight.puppet .title, .codeblock.puppet .title {
  color: #9c7bce;
}

figure.highlight.puppet .function, .codeblock.puppet .function {
  color: #29ABE2;
}

figure.highlight.puppet .name, .codeblock.puppet .name {
  color: #ED1C24;
}

figure.highlight.puppet .attr, .codeblock.puppet .attr {
  color: #29ABE2;
}

figure.highlight.less {
  .tag, .at_rule {
    color: #ED1C24;
  }
}

.codeblock.less {
  .tag, .at_rule {
    color: #ED1C24;
  }
}

figure.highlight.less {
  .number, .hexcolor, .function, .attribute {
    color: #29ABE2;
  }
}

.codeblock.less {
  .number, .hexcolor, .function, .attribute {
    color: #29ABE2;
  }
}

figure.highlight.less .built_in, .codeblock.less .built_in {
  color: #df5000;
}

figure.highlight.less {
  .id, .pseudo, .class, .selector-id, .selector-class, .selector-tag {
    color: #9c7bce;
  }
}

.codeblock.less {
  .id, .pseudo, .class, .selector-id, .selector-class, .selector-tag {
    color: #9c7bce;
  }
}

figure.highlight.scss {
  .tag, .at_rule, .important {
    color: #ED1C24;
  }
}

.codeblock.scss {
  .tag, .at_rule, .important {
    color: #ED1C24;
  }
}

figure.highlight.scss {
  .number, .hexcolor, .function, .attribute {
    color: #29ABE2;
  }
}

.codeblock.scss {
  .number, .hexcolor, .function, .attribute {
    color: #29ABE2;
  }
}

figure.highlight.scss .variable, .codeblock.scss .variable {
  color: _palette(code);
}

figure.highlight.scss .built_in, .codeblock.scss .built_in {
  color: #df5000;
}

figure.highlight.scss {
  .id, .pseudo, .class, .preprocessor, .selector-class, .selector-id {
    color: #9c7bce;
  }
}

.codeblock.scss {
  .id, .pseudo, .class, .preprocessor, .selector-class, .selector-id {
    color: #9c7bce;
  }
}

figure.highlight.scss {
  .tag, .selector-tag {
    color: #63a35c;
  }
}

.codeblock.scss {
  .tag, .selector-tag {
    color: #63a35c;
  }
}

figure.highlight.stylus .at_rule, .codeblock.stylus .at_rule {
  color: #ED1C24;
}

figure.highlight.stylus {
  .tag, .selector-tag {
    color: #63a35c;
  }
}

.codeblock.stylus {
  .tag, .selector-tag {
    color: #63a35c;
  }
}

figure.highlight.stylus {
  .number, .hexcolor, .attribute, .params {
    color: #29ABE2;
  }
}

.codeblock.stylus {
  .number, .hexcolor, .attribute, .params {
    color: #29ABE2;
  }
}

figure.highlight.stylus {
  .class, .id, .pseudo, .title, .selector-id, .selector-pseudo, .selector-class {
    color: #9c7bce;
  }
}

.codeblock.stylus {
  .class, .id, .pseudo, .title, .selector-id, .selector-pseudo, .selector-class {
    color: #9c7bce;
  }
}

figure.highlight.go .typename, .codeblock.go .typename {
  color: #ED1C24;
}

figure.highlight.go {
  .built_in, .constant {
    color: #29ABE2;
  }
}

.codeblock.go {
  .built_in, .constant {
    color: #29ABE2;
  }
}

figure.highlight.swift .preprocessor, .codeblock.swift .preprocessor {
  color: #ED1C24;
}

figure.highlight.swift .title, .codeblock.swift .title {
  color: #9c7bce;
}

figure.highlight.swift {
  .built_in, .number, .type {
    color: #29ABE2;
  }
}

.codeblock.swift {
  .built_in, .number, .type {
    color: #29ABE2;
  }
}

figure.highlight.yml .line .attr, .codeblock.yml .line .attr {
  color: #63a35c;
}

figure.highlight.yml {
  .line, .string, .type, .literal, .meta {
    color: #FBB03B;
  }
}

.codeblock.yml {
  .line, .string, .type, .literal, .meta {
    color: #FBB03B;
  }
}

figure.highlight.yml .number, .codeblock.yml .number {
  color: #29ABE2;
}